elastic-transport==9.2.0
elasticsearch==9.1.1
Flask==3.1.2
flask-cors==6.0.1
google-api-core==2.27.0
google-auth==2.41.1
google-geo-type==0.4.0
google-maps-places==0.4.0
numpy==2.3.4
openai==2.6.1
python-dotenv==1.1.1
requests==2.32.5
